<html>

<head>
    <title>Line Following Trashcan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/drawMap.js"></script>
</head>

<body>
    <div class="header">
        <div class="content">Trashcan Control Page</div>
    </div>

    <div class="section">
        <h1 class="content">Map</h1>
        <div class="content" id="map-view-container">
            <div class="content" id="map-view"></div>
        </div>
        <div class="control">
            <span class="custom-button" id="btnDrawMap" onClick="btnDrawMapOnClickHandler(this.id)">Draw Map</span>
            <span class="custom-button" id="btnExplore" onClick="btnExploreClickHandler(this.id)">Explore Map</span>
        </div>
    </div>

    <script src="js/indexHTMLEventHandler.js"></script>
</body>

</html>
