body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 0px 12px;

    background-color: rgb(44, 44, 46);
    color: white;
}

.header > .content {
    text-align: center;
}

.section {
    margin-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

.section > .content {
    display: flex;
    flex-direction: row;
}